@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Bahiana');
@import "variables";
@import "menu";

body{
    margin: 0;
    padding: 0;
    background-color: $blue-light;
    //background-image: url(../images/fabric.png);
    //overflow-x: hidden;
    
    .content-wrapper{
        margin:0;
        padding: 0;
        
        
        .introduction-section{
            background-image: url(../images/lamps.jpeg);
            //background-attachment: fixed;
            background-size: cover;
            //background-position: center;
            //background-color: #5b76ff;
            text-align: left;
            //flex-direction: column;
            padding: 0px 0px 0px 0px;
            width: 100%;
            margin: 0 auto;
            height: auto;
            min-height: 100vh;
            //margin: 0px 50px;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                padding-top: 100px;
                background-image: url(../images/about-me-bg-small.jpg);
                width: 100%;
            }
            
        
            .about-me-p{
                font-size: 1.2em;
                position: relative;
                //background-color: #fff;
                padding: 50px;
                font-family: montserrat, sans-serif;
                color: #fff;
                max-width: 33%;
                z-index: 1;
                margin-right: 0px;
                border-radius: 20px;
                border: 10px solid #fff;
                animation-delay: 0.5s;
                animation-duration: 1.5s;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                @media screen and(max-width: $break-ipad){
                    font-size: 1em;
                    }
                    @media screen and(max-width: $break-mobile){
                        margin-right: 0px;
                        font-size: 1em;
                        max-width: 70%;
                        border: none;
                        margin-left: 0px;
                        text-align: left;
                        background-color: rgba(0,0,0,0);
                        box-shadow: none;
                        color: #fff;
                    }
                
                }
            
            


            .me{
                //display: inline-block;
                z-index: 0;
                position: relative;
                top: 0px;
                //width: 250px;
                height: 800px;
                //align-self: center;
                padding: 100px 0px 0px 00px;
                //left: 60%;
                //top: 5%;
                //position: absolute;
                animation-delay: 0.5s;
                animation-duration: 1.5s;
                @media screen and(max-width: $break-ipad){
                    height: 600px;
                    }
                @media screen and(max-width: $break-mobile){
                    padding: 20px 100px 50px 90px;
                    padding-left: 90px;
                    height: 70%;
                    }   
                }
        
    }
        
        .abilities{
            //border-top: 5px solid #fff;
            margin:0 auto;
            text-align: left;
            //max-width: 50%;
            background-color: $blue-medium;
            font-family: Bahiana;
            font-size: 4em;
            color: #fff;
            width: 60%;
            margin: 0 auto;
            padding: 8% 34% 1% 6%;
            //margin-top: 150px;
            //border-top-right-radius: 50px;
            //border-top-left-radius: 50px;
            //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 100px rgba(0,0,0,0.50);
            @media screen and (max-width: $break-mobile){
                font-size: 3em;
                padding-top: 50px;
                padding-left: 10%;
                padding-right: 30%;
            }
        }
        
                .text-block{
            background-color: $blue-medium;
            padding: 20px 0px 50px 6%;
            text-align: left;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            @media screen and (max-width: $break-mobile){
                    padding: 30px 0px;
                justify-content: center;
                    }
            
            .abilities-text{
                display: flex;
                font-size: 1.2em;
                font-family: montserrat;
                color: #fff;
                width: 30%;
                //margin: 0 auto;
                text-align: left;
                background-color: $blue-medium;
                @media screen and (max-width: $break-mobile){
                    width: 80%;
                    flex-wrap: wrap;
                    }
                }   
            
            .design-icon{
                margin: 0px 50px 0px 0px;
                //display: flex;
                width: 110px;
                height:110px;
                animation-delay: 0.3s;
                @media screen and (max-width: $break-mobile){
                    flex-wrap: nowrap;
                    margin: 30px;
                    width: 94px;
                    height: 94px;
                    }
            }
            
            .technical-icon{
                margin: 0px 100px 0px 50px;
                //display: flex;
                width: 128px;
                height:128px;
                @media screen and (max-width: $break-mobile){
                    flex-wrap: nowrap;
                    margin: 30px;
                    width: 94px;
                    height: 94px;
                    }
            }
        }
        
        
        .block-row1{
            text-align: center;
            display: flex;
            //justify-content: flex-end;
            width: 90%;
            padding: 0% 5%;
            background-color: $blue-medium;
            height: 40vh;
            margin: 0 auto;
            padding-top: 2%;
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                width: 100%;
                padding: 5% 0px;
                margin: 0;
                height: 100vh;
                background-color: $blue-medium;
            }
            
            
            .block1{
                background-image: url(../images/sketch.jpg);
                background-size: cover;
                background-position: center;
                font-family: montserrat, sans-serif;    
                //margin-right:.5%;
                padding: 50px;
                flex: 1; 
                height: 40vh;
                min-height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 20px;
                }
                &:hover{
                    transition: 0.5s;
                }    
                
                .qoute1{
                    //background-color: #fff;
                    padding: 20px;
                    font-size: 1em;
                    font-weight: 800;
                    max-width: 50%;
                    color: #000;
                    text-align: center;
                    margin: 0 auto;
                    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and(max-width: $break-mobile){
                        font-size: $font-size-mobile;
                        //flex-wrap: wrap;
                        max-width: 0%;
                        text-align: center;
                        margin-bottom: 50px;
                    }
                }
                
            }
            
            .block2{
                background-image: url(../images/adobe-CS.jpg);
                background-size: cover;
                //background-position: center;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                animation-delay: 0.2s;
                //margin-left: 2.5%;
                padding: 50px;
                flex: 1;
                height: 31vh;
                //min-height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 20px;
                    }
                &:hover{
                        transition: 0.5s;
                        width: 10xp;
                        }
                
                .qoute2{
                    font-weight: 800;
                    max-width: 30%;
                    margin: 0 auto;
                    color: #000;
                    text-align: left;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                        }
                    }
                }
            }
        
        .block-row2{
            margin: 0;
            background-color: $blue-dark;
            //padding-bottom: 150px;
            text-align: center;
            display: flex;
            justify-content: flex-end;
            width: 90%;
            padding: 0% 5%;
            background-color: $blue-medium;
            height: 40vh ;
            margin: 0 auto;
            //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                width: 100%;
                margin: 0px;
                padding: 0px;
                height: 100vh;
                background-color: $blue-medium;
                //padding-bottom: 50px;
            }
            
            .block3{
                //border-top: 5px solid #fff;
                background-image: url(../images/code.jpeg);
                background-size: cover;
                animation-delay: 0.4s;
                background-position: center;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                //margin-right: .5%;
                padding: 50px;
                flex: 1;
                //height: 40vh;
                //min-height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 20px;
                }
                &:hover{
                   transition: 0.5s;
                }
            }
            
            .qoute3{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: left;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                        }
                    }
            
            .block4{
                //border-top: 5px solid #fff;
                background-image: url(../images/technical.jpeg);
                background-size: cover;
                background-position: center;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                animation-delay: 0.8s;
                //margin-left: 2.5%;
                padding: 50px;
                flex: 1;
                //height: 40vh;
                //min-height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    margin: 0 auto;
                    width: 90%;
                }
                &:hover{
                    transition: 0.5s;
                } 
            }
            
            .qoute4{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                        }
                    }
            }
        
        .slanted-div1{
            position: relative;
            width: 100%;
            height: 150px;
            background-color: $blue-medium;
            @media screen and (max-width: $break-mobile){
                height: 100px
            }
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                background: inherit;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                transform-origin: top left;
                transform: skewY(4deg);
            }
        }
        
        .fun-facts-title{
            //border-top: 5px solid #fff;
            margin:0 auto;
            text-align: left;
            width: 94%;
            padding: 180px 0px 0px 6%;
            //max-width: 50%;
            background-image: url(../images/fabric.png);
            background-color: $blue-medium;
            font-family: Bahiana;
            font-size: 4em;
            color: #000;
            //margin-top: 150px;
            //border-top-right-radius: 50px;
            //border-top-left-radius: 50px;
            //text-shadow: 0 0px 10px rgba(0,0,0,0.2);
            @media screen and (max-width: $break-mobile){
                    padding-left: 10%;
                    width: 90%;
                }
            }
        
        .text-block2{
            background-image: url(../images/fabric.png);
            padding: 0px 0px 50px 6%;
            text-align: left;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            @media screen and (max-width: $break-mobile){
                padding: 30px 0px;
                justify-content: center;
                }
            
            .hobbies-text{
                font-size: 1.2em;
                display: flex;
                font-family: montserrat;
                color: #000;
                max-width: 40%;
                text-align: left;
                @media screen and (max-width: $break-laptop){
                    font-size: 1.2em;
                    //max-width: 60%;
                    }
                @media screen and (max-width: $break-mobile){
                    max-width: 80%;
                    font-size: 1.2em;
                    padding: 0px 0%;
                }
            }
            
            .fight-icon{
                animation-delay: 0.3s;
                display: flex;
                margin: 50px;
                width: 128px;
                @media screen and (max-width: $break-mobile){
                    flex-wrap: nowrap;
                    margin: 30px;
                    width: 94px;
                    height: 94px;
                }
            }
            
            .games-icon{
                display: flex;
                margin: 50px;
                width: 128px;
                @media screen and (max-width: $break-mobile){
                    flex-wrap: nowrap;
                    margin: 30px;
                    width: 94px;
                    height: 94px;
                }
            }
            
        }
        
    
        .fun-fact-block-wrapper{
            text-align: center;
            //border-bottom: 5px solid #fff;
            display: flex;
            justify-content: flex-end;
            background-color: $blue-medium;
            //padding-bottom: 150px;
            width: 90%;
            padding: 0% 5%;
            background-image: url(../images/fabric.png);
            height: 40vh;
            margin: 0 auto;
            padding-bottom: 0px;
            padding-top: 0px;
            //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                width: 100%;
                height: 100vh;
                padding: 0px;
                padding-bottom: 20px;
            }
            
            .block5{
                background-image: url(../images/pen-tablet.jpg);
                background-size: cover;
                animation-delay: 0.2s;
                background-position: center;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 50px;
                flex: 1;
                //margin-right: 2.5%;
                font-size: 1em;
                //min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 20px; 
                }
                &:hover{
                    transition: 0.5s;
                }
                
                .qoute5{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                    }
                }
                
            }
            
            .block6{
                background-image: url(../images/gaming.jpeg);
                background-size: cover;
                background-position: center;
                animation-delay: 0.4s;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 50px;
                flex: 1;
                //margin-left: .5%;
                font-size: 1em;
                //min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    margin: 0 auto;
                    padding: 0px;
                    width: 90%;
                }
                
                .qoute6{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                    }
                }
                
            }        
        }
        
        .fun-fact-row2{
            text-align: center;
            //border-bottom: 5px solid #fff;
            display: flex;
            justify-content: flex-end;
            background-color: $blue-medium;
            //padding-bottom: 150px;
            width: 90%;
            padding: 0% 5%;
            background-image: url(../images/fabric.png);
            height: 40vh;
            margin: 0 auto;
            padding-bottom: 0px;
            padding-top: 0px;
            //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                width: 100%;
                height: 50vh;
                padding: 0px;
                padding-bottom: 20px;
            }
            
            .block7{
                background-image: url(../images/ufc.gif);
                background-size: cover;
                background-position: center;
                animation-delay: 0.8s;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 50px;
                flex: 1;
                //margin-left: .5%;
                font-size: 1em;
                //min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    margin: 0 auto;
                    padding: 0px;
                    width: 90%;
                }
                
                .qoute7{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                    }
                }
                
            }
            
        }
        
        .fun-fact-row3{
            text-align: center;
            //border-bottom: 5px solid #fff;
            display: flex;
            justify-content: flex-end;
            background-color: $blue-medium;
            //padding-bottom: 150px;
            width: 90%;
            padding: 0% 5%;
            background-image: url(../images/fabric.png);
            height: 40vh;
            margin: 0 auto;
            padding-bottom: 0px;
            padding-top: 0px;
            //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            @media screen and (max-width: $break-mobile){
                flex-direction: column;
                width: 100%;
                height: 100vh;
                padding: 0px;
                padding-bottom: 20px;
            }
            
            .block8{
                background-image: url(../images/pubquiz.jpg);
                background-size: cover;
                background-position: center;
                animation-delay: 1s;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 50px;
                flex: 1;
                //margin-right: 2.5%;
                font-size: 1em;
                //min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    padding: 0px;
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 20px; 
                }
                &:hover{
                    transition: 0.5s;
                }
                
                .qoute8{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                    }
                }
                
            }
            
            .block9{
                background-image: url(../images/photo.jpeg);
                background-size: cover;
                background-position: center;
                animation-delay: 1.2s;
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 50px;
                flex: 1;
                //margin-left: .5%;
                font-size: 1em;
                //min-height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                @media screen and (max-width: $break-mobile){
                    font-size: $font-size-mobile;
                    min-height: 300px;
                    margin: 0 auto;
                    padding: 0px;
                    width: 90%;
                }
                
                .qoute9{
                    font-weight: 800;
                    max-width: 50%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                        max-width: 50%;
                    }
                }
                
            }        
        }
        
        .slanted-div2{
            position: relative;
            background-image: url(../images/fabric.png);
            width: 100%;
            height: 150px;
            margin-bottom: 300px;
            z-index: -1;
            background-color: $blue-medium;
            @media screen and (max-width: $break-mobile){
                height: 100px;
                margin-bottom: 100px;
            }
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                background: inherit;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                transform-origin: top left;
                transform: skewY(4deg);
            }
        }
        
        .spotify-title{
            font-family: Montserrat, sans-serif;
            font-size: 2.5em;
            color: #000;
            background-color:  #fff;
            text-align: center;
            padding: 20px 0px;
            width: 90%;
            margin: 0 auto;
            margin-top: 150px;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            @media screen and (max-width: $break-mobile){
                font-size: 1.5em;
                margin-top: 40px;
            }
        }
        
    
    .spotify{
        width: 90%;
        margin: 0 auto;
        min-height: 100vh;
        text-align: center;
        padding-top: 50px;
        background-image: url(../images/spotify-bg.jpeg);
        background-position: center;
        background-size: cover;
        //background-attachment: fixed;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        @media screen and (max-width: $break-mobile){
                //width: 100%;
            }
        
        
        
        .music-p{
            font-size: 1.3em;
            font-family: montserrat, sans-serif;
            color: #000;
            background-color: #fff;
            padding: 20px;
            font-weight: 800;
            max-width: 30%;
            height: auto;
            text-align: center;
            margin: 50px auto;
            @media screen and (max-width: $break-mobile){
                max-width: 80%;
                font-size: 1em;
            }
        }
        
        .player{
            text-align: center; 
            height: 65%;
            width: 50vw;
            border-radius: 20px;
            margin-bottom: 50px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            @media screen and (max-width: $break-mobile){
                background: none;
                box-shadow: none;
                padding: 0px;
                width: 80%;
                height: 500px;
            }
        }
        
    }
        
        .socials-title{
            margin:0 auto;
            text-align: center;
            width: 100%;
            padding: 20px 0px;
            //max-width: 50%;
            font-weight: 800;
            //background-color: #ddd;
            font-family: montserrat;
            font-size: 2em;
            color: #000;
            margin: 0 auto;
            margin-top: 50px;
            //border-top-right-radius: 50px;
            //border-top-left-radius: 50px;
            //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            @media screen and (max-width: $break-mobile){
                font-size: 2em;
            }
        }
        
        .social-block-wrapper{
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 150px;
            background-image: url(../images/bg.jpg);
            background-size: cover;
//            @media screen and (max-width: $break-ipad){
//                //flex-direction: column;
//                max-width: 90%;
//                height: 100px;
//            }
            
            .social-block1{
                //background-color: rgba(91, 118, 255, 1);
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 30px;
                width: 2%;
                display: flex;
                //flex-direction: column;
                justify-content: center;
                align-content: center;
                &:hover{
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    transition: 0.5s;
                }
                
                .about-page-icon{
                    width: 40px;
                    @media screen and(max-width: $break-mobile){
                        width: 40px;
                    }
                }
            }
            
            .social-block2{
                //background-color: rgba(91, 118, 255, 1);
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 30px;
                width: 2%;
                //min-height: 300px;
                display: flex;
                //flex-direction: column;
                justify-content: center;
                align-content: center;
                &:hover{
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    transition: 0.5s;
                }
                
                .about-page-icon{
                    width: 40px;
                    @media screen and(max-width: $break-mobile){
                        width: 40px;
                    }
                }
            }
            
            .social-block3{
                //background-color: rgba(91, 118, 255, 1);
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 30px;
                width: 2%;
                //min-height: 300px;
                display: flex;
                //flex-direction: column;
                justify-content: center;
                align-content: center;
                &:hover{
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    transition: 0.5s;
                }
                
                .about-page-icon{
                    width: 40px;
                    @media screen and(max-width: $break-mobile){
                        width: 40px;
                    }
                }
            }
            
            .social-block4{
                //background-color: rgba(91, 118, 255, 1);
                font-family: montserrat, sans-serif;
                margin-top: 0px;
                padding: 30px;
                width: 2%;
                display: flex;
                //flex-direction: column;
                justify-content: center;
                align-content: center;
                &:hover{
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    transition: 0.5s;
                }
                
                .about-page-icon{
                    width: 40px;
                    @media screen and(max-width: $break-mobile){
                        width: 40px;
                    }
                }
            }
            
            .disclaimer{
                font-family: montserrat, sans-serif;
                margin: 0px 0px 0px 40px;
                color: #fff;
            }
            
        }
        
    }
    
}
        
    
