//variables


//breakpoints
$break-menu: 940px;
$break-large: 1200px;
$break-mobile: 768px;
$break-ipad: 1280px;
$break-laptop: 1024px;



//Font sizes
$font-size-mobile: 1em;

//colors
$orange: #ffc966;

$blue-dark: #7f7fff;
$blue-medium: #9999ff;
$blue-light: #b2b2ff;
//purple
$purple-dark: #9975b9;
$purple-medium: #aa8cc5;
$purple-light: #bba3d0;
//red
$red-dark: #e16666;
$red-medium: #e67f7f;
$red-light: #eb9999;
//orange
$orange-dark: #ffc966;
$orange-medium: #ffd27f;
$orange-light: #ffdb99;
//green
$green-dark: #66af66;
$green-medium: #ffd27f;
$green-light: #ffdb99;
