@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Saira:900");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  padding: 0; }
  body .home {
    position: fixed;
    width: 35px;
    top: 8px;
    left: 35px;
    z-index: 6; }
    @media screen and (max-width: 940px) {
      body .home {
        display: none; } }
  body header .wrapper .navigation {
    background-color: #fff;
    z-index: 5;
    width: 100%;
    height: 70px;
    position: fixed;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    @media screen and (max-width: 940px) {
      body header .wrapper .navigation {
        display: none; } }
  @media screen and (max-width: 940px) {
    body header .wrapper .mobile-navbar {
      height: 100%;
      width: 60%;
      left: 40%;
      z-index: 10;
      background-image: url(../images/fabric.png); } }
  @media screen and (max-width: 940px) {
    body header .wrapper .mobile-navbar-ul {
      display: inline-block;
      width: 100px;
      top: 14%;
      font-size: 0.7em;
      height: 80%;
      width: 25%;
      left: 50%;
      margin: 0px;
      padding: 0px; } }
  body header .wrapper ul {
    z-index: 2;
    position: fixed;
    display: inline-block;
    width: 720px;
    top: 7px;
    right: 100px; }
    @media screen and (max-width: 940px) {
      body header .wrapper ul {
        display: none; } }
    body header .wrapper ul .home-menu-item {
      color: #ffc966; }
    body header .wrapper ul .about-me-menu-item {
      color: #ffc966; }
    body header .wrapper ul .projects-menu-item {
      color: #ffc966; }
    body header .wrapper ul .skills-menu-item {
      color: #ffc966; }
    body header .wrapper ul a {
      color: #000;
      text-decoration: none; }
    body header .wrapper ul li {
      color: #000;
      display: inline-block;
      padding-right: 15%;
      font-size: 1em;
      font-weight: 900;
      font-family: 'Montserrat', sans-serif;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media screen and (max-width: 940px) {
        body header .wrapper ul li {
          padding: 30px 0px;
          font-size: 1.8em;
          border-bottom: 2px solid #000; } }
      body header .wrapper ul li:hover {
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  body header .wrapper .navigation-icons ul {
    width: 52px;
    display: none;
    top: 6%;
    right: 2%; }
    @media screen and (max-width: 940px) {
      body header .wrapper .navigation-icons ul {
        z-index: 5;
        width: 40%;
        top: 75%;
        right: 10%;
        z-index: 12; } }
    body header .wrapper .navigation-icons ul .icon {
      width: 42px;
      padding-top: 80px;
      height: 42px; }
      @media screen and (max-width: 768px) {
        body header .wrapper .navigation-icons ul .icon {
          margin: 7px;
          width: 35px;
          height: 35px;
          padding: 0px;
          z-index: 12; } }
  body header .wrapper .close .line1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 57% !important; }
  body header .wrapper .close .line3 {
    -webkit-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
    transform: rotate(-405deg);
    top: 57% !important; }
  body header .wrapper .main-item {
    z-index: 11;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 2.5%;
    top: 5.8px; }
    @media screen and (max-width: 940px) {
      body header .wrapper .main-item {
        right: 5%; } }
    body header .wrapper .main-item .line {
      height: 6px;
      width: 100%;
      background: #000;
      position: absolute;
      border-radius: 50px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      @media screen and (max-width: 940px) {
        body header .wrapper .main-item .line {
          background: #fff; } }
    body header .wrapper .main-item .line1 {
      top: 30%; }
    body header .wrapper .main-item .line2 {
      top: 60%; }
    body header .wrapper .main-item .line3 {
      top: 90%; }

body {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    body {
      overflow: auto; } }
  body .button-wrapper {
    position: fixed;
    height: 100vh;
    width: 20px;
    padding: 0px;
    z-index: 5;
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0); }
    @media screen and (max-width: 1280px) {
      body .button-wrapper {
        width: 100%;
        display: inline-block;
        text-align: center;
        top: 87%;
        margin-left: 0px; } }
    body .button-wrapper .next {
      border-radius: 50%;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
      width: 20px;
      height: 20px;
      margin: 20px;
      border: 2px solid #fff;
      background-color: transparent;
      pointer-events: all; }
      body .button-wrapper .next:hover {
        background-color: #fff; }
      @media screen and (max-width: 768px) {
        body .button-wrapper .next {
          width: 20px;
          height: 20px;
          margin: 20px;
          border: 2px solid #fff; } }
  body .project-img1 {
    background-image: url(../images/sticker.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 768px) {
      body .project-img1 {
        background-image: url(../images/sticker-m.jpg);
        height: 100vh;
        width: 100vw; } }
    body .project-img1 .project-info-wrapper1 {
      position: relative;
      top: 36%;
      text-align: center;
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        body .project-img1 .project-info-wrapper1 {
          top: 31%; } }
      body .project-img1 .project-info-wrapper1 .first-project-title {
        z-index: 4;
        padding: 0px;
        margin: 0;
        position: relative;
        font-family: montserrat, sans-serif;
        color: #ffffff;
        letter-spacing: 10px;
        font-size: 8em;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
        @media screen and (max-width: 1024px) {
          body .project-img1 .project-info-wrapper1 .first-project-title {
            font-size: 5em; } }
        @media screen and (max-width: 768px) {
          body .project-img1 .project-info-wrapper1 .first-project-title {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-align: center;
            left: 0;
            color: #fff; } }
      body .project-img1 .project-info-wrapper1 .sub1 {
        color: #000;
        width: 50%;
        margin: 0 auto;
        font-size: 25px;
        margin-bottom: 3%;
        padding: 0px;
        font-family: montserrat, sans-serif;
        word-spacing: 10px;
        letter-spacing: 10px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        padding-top: 0px; }
        @media screen and (max-width: 1024px) {
          body .project-img1 .project-info-wrapper1 .sub1 {
            font-size: 20px; } }
        @media screen and (max-width: 768px) {
          body .project-img1 .project-info-wrapper1 .sub1 {
            left: 0;
            text-align: center;
            letter-spacing: 0px;
            word-spacing: 2px;
            font-size: 0.9em;
            color: #000;
            width: 100%; } }
      body .project-img1 .project-info-wrapper1 .project-btn1 {
        border: 2px solid #fff;
        background-color: transparent;
        font-family: montserrat;
        font-size: 1.1em;
        font-weight: 300;
        color: #000;
        height: 50px;
        width: 250px;
        background-color: rgba(215, 215, 215, 0.7);
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s; }
        body .project-img1 .project-info-wrapper1 .project-btn1:hover {
          background-color: rgba(123, 32, 180, 0.5);
          color: #fff; }
        @media screen and (max-width: 1024px) {
          body .project-img1 .project-info-wrapper1 .project-btn1 {
            height: 40px;
            width: 180px; } }
        @media screen and (max-width: 768px) {
          body .project-img1 .project-info-wrapper1 .project-btn1 {
            width: 200px;
            height: 40px;
            top: 30px;
            background-color: #444;
            font-family: montserrat;
            font-size: 1em;
            color: #fff;
            background-color: transparent;
            position: relative;
            margin: 0 auto;
            border: 3px solid #fff;
            z-index: 5;
            cursor: pointer; } }
  body .project-img2 {
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      body .project-img2 {
        height: 100vh;
        width: 100vw;
        background-image: url(../images/keyboard-m.jpg); } }
    body .project-img2 .project-info-wrapper2 {
      position: relative;
      top: 36%;
      text-align: center;
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        body .project-img2 .project-info-wrapper2 {
          top: 31%; } }
      body .project-img2 .project-info-wrapper2 .second-project-title {
        z-index: 4;
        padding: 0px;
        margin: 0;
        position: relative;
        font-family: montserrat, sans-serif;
        color: #ffffff;
        letter-spacing: 10px;
        font-size: 8em;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
        @media screen and (max-width: 1024px) {
          body .project-img2 .project-info-wrapper2 .second-project-title {
            font-size: 5em; } }
        @media screen and (max-width: 768px) {
          body .project-img2 .project-info-wrapper2 .second-project-title {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-align: center;
            left: 0;
            color: #fff; } }
      body .project-img2 .project-info-wrapper2 .sub2 {
        color: #000;
        width: 50%;
        margin: 0 auto;
        font-size: 25px;
        margin-bottom: 3%;
        padding: 0px;
        font-family: montserrat, sans-serif;
        word-spacing: 10px;
        letter-spacing: 10px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        padding-top: 0px; }
        @media screen and (max-width: 1024px) {
          body .project-img2 .project-info-wrapper2 .sub2 {
            font-size: 20px; } }
        @media screen and (max-width: 768px) {
          body .project-img2 .project-info-wrapper2 .sub2 {
            left: 0;
            text-align: center;
            font-size: 1em;
            word-spacing: 2px;
            letter-spacing: 0px;
            width: 100%; } }
      body .project-img2 .project-info-wrapper2 .project-btn2 {
        border: 2px solid #fff;
        background-color: transparent;
        font-family: montserrat;
        font-size: 1.1em;
        font-weight: 300;
        color: #000;
        height: 50px;
        width: 250px;
        background-color: rgba(215, 215, 215, 0.7);
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s; }
        body .project-img2 .project-info-wrapper2 .project-btn2:hover {
          background-color: rgba(255, 0, 0, 0.5);
          color: #fff; }
        @media screen and (max-width: 1024px) {
          body .project-img2 .project-info-wrapper2 .project-btn2 {
            width: 180px;
            height: 40px; } }
        @media screen and (max-width: 768px) {
          body .project-img2 .project-info-wrapper2 .project-btn2 {
            width: 200px;
            height: 40px;
            top: 30px;
            background-color: #444;
            font-family: montserrat;
            font-size: 1em;
            color: #fff;
            background-color: transparent;
            position: relative;
            margin: 0 auto;
            border: 3px solid #fff;
            z-index: 5;
            cursor: pointer; } }
  body .project-img3 {
    background-image: url(../images/rasp.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      body .project-img3 {
        height: 100vh;
        width: 100vw;
        background-image: url(../images/rasp-m.jpg); } }
    body .project-img3 .project-info-wrapper3 {
      position: relative;
      top: 36%;
      text-align: center;
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        body .project-img3 .project-info-wrapper3 {
          top: 31%; } }
      body .project-img3 .project-info-wrapper3 .third-project-title {
        z-index: 4;
        padding: 0px;
        margin: 0;
        position: relative;
        font-family: montserrat, sans-serif;
        color: #ffffff;
        letter-spacing: 10px;
        font-size: 8em;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
        @media screen and (max-width: 1024px) {
          body .project-img3 .project-info-wrapper3 .third-project-title {
            font-size: 5em; } }
        @media screen and (max-width: 768px) {
          body .project-img3 .project-info-wrapper3 .third-project-title {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-align: center;
            left: 0;
            color: #fff; } }
      body .project-img3 .project-info-wrapper3 .sub3 {
        color: #000;
        width: 50%;
        margin: 0 auto;
        font-size: 25px;
        margin-bottom: 3%;
        padding: 0px;
        font-family: montserrat, sans-serif;
        word-spacing: 10px;
        letter-spacing: 10px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        padding-top: 0px; }
        @media screen and (max-width: 1024px) {
          body .project-img3 .project-info-wrapper3 .sub3 {
            font-size: 20px; } }
        @media screen and (max-width: 768px) {
          body .project-img3 .project-info-wrapper3 .sub3 {
            left: 0;
            text-align: center;
            font-size: 1em;
            letter-spacing: 0px;
            word-spacing: 2px;
            width: 100%; } }
      body .project-img3 .project-info-wrapper3 .project-btn3 {
        border: 2px solid #fff;
        background-color: transparent;
        font-family: montserrat;
        font-size: 1.1em;
        font-weight: 300;
        color: #000;
        height: 50px;
        width: 250px;
        background-color: rgba(215, 215, 215, 0.7);
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s; }
        body .project-img3 .project-info-wrapper3 .project-btn3:hover {
          background-color: rgba(0, 0, 255, 0.5);
          color: #fff; }
        @media screen and (max-width: 1024px) {
          body .project-img3 .project-info-wrapper3 .project-btn3 {
            height: 40px;
            width: 180px; } }
        @media screen and (max-width: 768px) {
          body .project-img3 .project-info-wrapper3 .project-btn3 {
            width: 200px;
            height: 40px;
            top: 30px;
            background-color: #444;
            font-family: montserrat;
            font-size: 1em;
            color: #fff;
            background-color: transparent;
            position: relative;
            margin: 0 auto;
            border: 3px solid #fff;
            z-index: 5;
            cursor: pointer; } }
  body .project-img4 {
    background-image: url(../images/gamble.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-position: center; }
    @media screen and (max-width: 768px) {
      body .project-img4 {
        height: 100vh;
        width: 100vw;
        background-image: url(../images/gamble-m.jpg); } }
    body .project-img4 .project-info-wrapper4 {
      position: relative;
      top: 36%;
      text-align: center;
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        body .project-img4 .project-info-wrapper4 {
          top: 31%; } }
      body .project-img4 .project-info-wrapper4 .fourth-project-title {
        z-index: 4;
        padding: 0px;
        margin: 0;
        position: relative;
        font-family: montserrat, sans-serif;
        color: #ffffff;
        letter-spacing: 10px;
        font-size: 8em;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
        @media screen and (max-width: 1024px) {
          body .project-img4 .project-info-wrapper4 .fourth-project-title {
            font-size: 5em; } }
        @media screen and (max-width: 768px) {
          body .project-img4 .project-info-wrapper4 .fourth-project-title {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-align: center;
            left: 0;
            color: #fff; } }
      body .project-img4 .project-info-wrapper4 .sub4 {
        color: #000;
        width: 50%;
        margin: 0 auto;
        font-size: 25px;
        margin-bottom: 3%;
        padding: 0px;
        font-family: montserrat, sans-serif;
        word-spacing: 10px;
        letter-spacing: 10px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        padding-top: 0px; }
        @media screen and (max-width: 1024px) {
          body .project-img4 .project-info-wrapper4 .sub4 {
            font-size: 20px; } }
        @media screen and (max-width: 768px) {
          body .project-img4 .project-info-wrapper4 .sub4 {
            left: 0;
            text-align: center;
            font-size: 1em;
            word-spacing: 0px;
            letter-spacing: 2px;
            width: 100%; } }
      body .project-img4 .project-info-wrapper4 .project-btn4 {
        border: 2px solid #fff;
        background-color: transparent;
        font-family: montserrat;
        font-size: 1.1em;
        font-weight: 300;
        color: #000;
        height: 50px;
        width: 250px;
        background-color: rgba(215, 215, 215, 0.7);
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s; }
        body .project-img4 .project-info-wrapper4 .project-btn4:hover {
          background-color: rgba(100, 255, 0, 0.5);
          color: #fff; }
        @media screen and (max-width: 1024px) {
          body .project-img4 .project-info-wrapper4 .project-btn4 {
            width: 180px;
            height: 40px; } }
        @media screen and (max-width: 768px) {
          body .project-img4 .project-info-wrapper4 .project-btn4 {
            width: 200px;
            height: 40px;
            top: 30px;
            background-color: #444;
            font-family: montserrat;
            font-size: 1em;
            color: #fff;
            background-color: transparent;
            position: relative;
            margin: 0 auto;
            border: 3px solid #fff;
            z-index: 5;
            cursor: pointer; } }
