html
    head 
        link(rel="stylesheet" type="text/css" href="style/style-about-me.css")
        link(rel="stylesheet" type="text/css" href="css/animate.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            .wrapper
                .main-item.menu
                    span.line.line1
                    span.line.line2
                    span.line.line3
                nav.navigation
                        ul.links
                            a(href="index.html"): li Home
                            a(href="about-me.html"): li.about-me-menu-item About Me
                            a(href="projects.html"): li Projects
                            a(href="skills.html"): li Skills
                nav.navigation-icons
                    ul.all-icons
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/facebook-icon.png")
                        a(href="https://www.behance.net/CdeVos"): img.icon(src="Icons/behance-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/whatsapp-icon.png")
                        a(href="https://github.com/Cdevos34"): img.icon(src="Icons/github-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/email-icon.png")        
        a(href="index.html"): img.home(src="Icons/face-icon.png")
        .content-wrapper
            .introduction-section.banner-parallax
                p.about-me-p.item-parallax.animated.fadeIn Hey, Ik ben Chris. Ik ben grafische ontwerper en ben afgestuurd Signmaker AKA sticker plakker. Op dit moment Studeer ik Kunst en Techniek aan het Saxion in Enschede en ben ik mij verder aan het ontwikkelen op creatief gebied, door meer te leren over development, fotografie en Techniek. Ik ben leergierig en ben altijd op zoek naar een nieuwe uitdagingen. Heb je een nieuwe uitdaging voor me dan kun je altijd contact met me opnemen. 
                img.me.item-parallax.animated.fadeIn(src="images/me-full.png")
            h1.abilities Mijn vaardigheden
            .block-row1
                //.block1
                    p.qoute1 "Techniek en design combineren is wat ik graag doe !"
                .block2
                    p.qoute2 Ik ken de adobe Creative Suite op mijn duimpje
            .block-row2        
                .block3
                    p.qoute3 Creatief
                .block4
                    p.qoute4 Technisch
            .slanted-div1
            h1.fun-facts-title Fun facts about me
            .fun-fact-block-wrapper
                .block5
                    p.qoute5 In mijn vrije tijd Pubquiz ik graag
                .block6
                    p.qoute6 Ik ben een groot UFC liefhebber
            .slanted-div2
            h1.spotify-title I need my music !
            .spotify
                p.music-p Muziek is erg belangrijk voor mij en ik ben van mening dat de muziek die je luistert iets zegt over jou. Dit is de muziek die iets zegt over mij.
                iframe (class="player "src="https://open.spotify.com/embed?uri=spotify:user:1137515362:playlist:06AO2gQx0oijLKmi8N7kfV&theme=white" width="50%" height="500" frameborder="0" allowtransparency="true">)
            .h1.socials-title De Socials!    
            .social-block-wrapper
                .social-block1
                    a(href="https://www.behance.net/CdeVos"): img.about-page-icon(src="Icons/behance-icon.png")
                .social-block2
                    a(href="https://github.com/Cdevos34"): img.about-page-icon(src="Icons/github-icon.png")
                .social-block3
                    a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/email-icon.png")
                .social-block4
                    a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/facebook-icon.png")
                    
            
    
    
    
    
    
    
    
    
    //Jquery en Scripts        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="js/wow.min.js")
    //script(type="text/javascript" src="js/jquery.onepage-scroll.min.js")
    script(type="text/javascript" src="js/javascript.js")