html
    head 
        link(rel="stylesheet" type="text/css" href="style/style-about-me.css")
        link(rel="stylesheet" type="text/css" href="css/animate.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            .wrapper
                .main-item.menu
                    span.line.line1
                    span.line.line2
                    span.line.line3
                nav.navigation
                        ul.links
                            a(href="index.html"): li Home
                            a(href="about-me.html"): li.about-me-menu-item About Me
                            a(href="projects.html"): li Projects
                            a(href="skills.html"): li Skills
                nav.navigation-icons
                    ul.all-icons
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/facebook-icon.png")
                        a(href="https://www.behance.net/CdeVos"): img.icon(src="Icons/behance-icon.png")
                        a(href="https://www.linkedin.com/in/chris-de-vos-9a7a2b96/"): img.icon(src="Icons/linkedin.png")
                        a(href="https://github.com/Cdevos34"): img.icon(src="Icons/github-icon.png")
                        a(href="mailto:cdevos34@gmail.com"): img.icon(src="Icons/email-icon.png")        
        a(href="index.html"): img.home(src="Icons/face-icon.png")
        .content-wrapper
            .introduction-section.banner-parallax
                p.about-me-p.item-parallax Hey, Ik ben Chris. Ik ben grafische ontwerper en ben afgestuurd Signmaker AKA sticker plakker. Op dit moment Studeer ik Kunst en Techniek aan het Saxion in Enschede en ben ik mij verder aan het ontwikkelen op creatief gebied, door meer te leren over development, fotografie en Techniek. Ik ben leergierig en ben altijd op zoek naar een nieuwe uitdagingen. Heb je een nieuwe uitdaging voor me dan kun je altijd contact met me opnemen.
                img.me.item-parallax(src="images/me-full.png")
            h1.abilities Wie ben ik en waar houd ik me mee bezig.
            .text-block
                img.design-icon.wow.fadeInLeft(src="Icons/design-icon.png")
                img.technical-icon.wow.fadeInLeft(src="Icons/technical-icon.png")
                .abilities-text.p Het combineren van Design en techniek vind ik interessant. Mijn achtergrond als ontwerper stelt mij in staat een mock-up te maken voor een website of interactieve installatie en met behulp van mijn technische kennis kan ik dit ontwerp ook echt in de praktijk brengen.
            .block-row1
                //.block1
                    p.qoute1 "Techniek en design combineren is wat ik graag doe !"
                .block2.wow.FadeIn
                    p.qoute2 Ik ken de adobe Creative Suite op mijn duimpje. Van Photoshop en Illustrator tot Adobe After effects en Premieré
            .block-row2        
                .block3.wow.fadeIn
                    p.qoute3 Ik ben creatief en sterk in design. Ik heb ruim ervaring op het gebied van vormgeving
                .block4.wow.fadeIn
                    p.qoute4 Mijn technische kennis vult perfect mijn kennis op het gebied van vormgeving aan
            .slanted-div1
            h1.fun-facts-title Leer me kennen
            .text-block2
                img.fight-icon.wow.fadeInLeft(src="Icons/fighting-icon.png")
                img.games-icon.wow.fadeInLeft(src="Icons/games-icon.png")
                .hobbies-text.p Ik doe natuurlijk naast mezelf ontwikkelen op profesioneel gebied ook nog andere dingen. Ik ben fanatiek als het om spelletjes gaat en volg geen voetbal maar een vechtsport. Ik teken in mijn vrije tijd op mijn Intous teken tablet en ik game graag met mijn vrienden in het weekend.
            .fun-fact-block-wrapper
                .block5.wow.fadeIn
                    p.qoute5 Ook in mijn vrije tijd ontwikkel ik me graag. Ik doe al jaren elke maandag mee aan de pubquiz 
                .block6.wow.fadeIn
                    p.qoute6 Potje Fifa met mijn vrienden of knallen in Call of Duty doe ik graag. 
            .fun-fact-row2
                .block7.wow.fadeIn
                    p.qoute7 Ik ben een groot UFC liefhebber. Sommige mensen kijken zondag voetbal, Ik kijk UFC
            .fun-fact-row3
                .block8.wow.fadeIn
                    p.qoute8 Ook in mijn vrije tijd ontwikkel ik me graag. Ik doe al jaren elke maandag mee aan de pubquiz 
                .block9.wow.fadeIn
                    p.qoute9 Potje Fifa met mijn vrienden of knallen in Call of Duty doe ik graag.
            .slanted-div2
            h1.spotify-title I need my music !
            .spotify
                p.music-p Muziek is erg belangrijk voor mij en ik ben van mening dat de muziek die je luistert iets zegt over jou. Dit is de muziek die iets zegt over mij.
                iframe.player(src="https://open.spotify.com/embed?uri=spotify:user:1137515362:playlist:06AO2gQx0oijLKmi8N7kfV&theme=white" width="300" height="380" frameborder="0" allowtransparency="true")
            .h1.socials-title De Socials !    
            .social-block-wrapper
                .social-block1
                    a(href="https://www.behance.net/CdeVos"): img.about-page-icon(src="Icons/behance-icon.png")
                .social-block2
                    a(href="https://github.com/Cdevos34"): img.about-page-icon(src="Icons/github-icon.png")
                .social-block3
                    a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/email-icon.png")
                .social-block4
                    a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/facebook-icon.png")
                p.disclaimer Design and coding by Chris de Vos
                    
            
    
    
    
    
    
    
    
    
    //Jquery en Scripts        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="js/wow.min.js")
    //script(type="text/javascript" src="js/jquery.onepage-scroll.min.js")
    script(type="text/javascript" src="js/javascript.js")