html
    head
        link(rel="stylesheet" type="text/css" href="style/style.css")
        link(rel="stylesheet" type="text/css" href="css/animate.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        
        //Load screen
        //#load-screen
            #loading loading page 
        
        header
            .wrapper
                .main-item.menu
                    span.line.line1
                    span.line.line2
                    span.line.line3
                nav.navigation
                        ul.links
                            a(href="index.html"): li.home-menu-item Home
                            a(href="about-me.html"): li About Me
                            a(href="projects.html"): li Projects
                            a(href="skills.html"): li Skills
                nav.navigation-icons
                    ul.all-icons
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/facebook-icon.png")
                        a(href="https://www.behance.net/CdeVos"): img.icon(src="Icons/behance-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/whatsapp-icon.png")
                        a(href="https://github.com/Cdevos34"): img.icon(src="Icons/github-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/email-icon.png")        
        a(href="index.html"): img.home(src="Icons/face-icon.png")
        .hello-face
            img.face.animated.fadeInLeft(src="images/hello-face.png")
            a(href="about-me.html"): h1.hello.animated.fadeIn Hey there, nice to meet you!
        //.intro
            h1.intro-title Welkom op mijn persoonlijke website
            p.intro-text Op deze website vind je de projecten waaraan ik heb gewerkt, samen met klasgenoten of in mijn vrije tijd. De website waar je op dit moment op kijkt is tevens een eigen creatie
        

    
    
    
    
    
    
    
    //Jquery en Scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(type="text/javascript" src="js/wow.min.js")
    script(type="text/javascript" src="js/javascript.js") 
    //script(type="text/javascript" src="js/load.js") 