html
    head 
        link(rel="stylesheet" type="text/css" href="style/style-insilico.css")
        link(rel="stylesheet" type="text/css" href="css/animate.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            .wrapper
                .main-item.menu
                    span.line.line1
                    span.line.line2
                    span.line.line3
                nav.navigation
                        ul.links
                            a(href="index.html"): li Home
                            a(href="about-me.html"): li About Me
                            a(href="projects.html"): li Projects
                            a(href="skills.html"): li Skills
                nav.navigation-icons
                    ul.all-icons
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/facebook-icon.png")
                        a(href="https://www.behance.net/CdeVos"): img.icon(src="Icons/behance-icon.png")
                        a(href="https://www.linkedin.com/in/chris-de-vos-9a7a2b96/"): img.icon(src="Icons/linkedin.png")
                        a(href="https://github.com/Cdevos34"): img.icon(src="Icons/github-icon.png")
                        a(href="mailto:cdevos34@gmail.com"): img.icon(src="Icons/email-icon.png")        
        a(href="index.html"): img.home(src="Icons/face-icon.png")
    .banner.banner-parallax    
        h1.insilico insilico
        p.insilico-intro Project Insilico is een interactieve stadstour door Enschede, ontwikkeld voor Enschede promotions. Met een team van vijf studenten hebben we een interactieve tafel ontwikkeld die te bedienen is met je smartphone via onze website www.insilico.me. De tour brengt je op een uitdagende manier op bijzondere plekken in Enschede en we maken gebruik van augmented reality voor een unieke spelervaring.
    .team
        h1.team-title.wow.fadeIn Meet the insilico team !
        .members
            a(href="https://www.behance.net/CdeVos"): img.chris.wow.fadeInLeft(src="images/me-round.png")
            a(href="https://www.behance.net/elelly38a3"): img.eliz.wow.fadeInLeft(src="images/eliz-round.png")
            a(href="https://www.facebook.com/profile.php?id=100009847037534"): img.camilla.wow.fadeInLeft(src="images/camilla-round.png")
            a(href="https://www.facebook.com/leamagdalena.leuprecht"): img.lea.wow.fadeInLeft(src="images/lea.png")
            a(href="https://www.facebook.com/melanie.delmar.5"): img.melanie.wow.fadeInLeft(src="images/melanie.png")
    .slanted-div1
    .application
        img.phone.item-parallax-down(src="images/phone.png")
        .app-text Wij hebben een webapplicatie gebouwd die de gebruiker mee neemt op een spannende reis door Enschede. Met behulp van deze webapplicatie en de camera van je smartphone moet jij ontsnappen uit de computer simulatie die jij kent als Enschede. Log in op de app met je eigen gebruikers naam en wachtwoord en kies een locatie. De applicatie heeft een database waarin jou score word opgeslagen, dus ben je halverwege en word het laat, geen probleem je kunt de volgende dag gewoon verder met je avontuur.
    .slanted-div2
    .table-subsection
        p.table-intro Het startpunt van jou avontuur is onze interactieve tafel. De hackergroep Insilico geeft jou via deze installatie de informatie die je nodig hebt om uit de computer simulatie te ontsnappen die jij kent als Enschede. Insilico is een hackergroep uit de "echte wereld" die er van op de hoogte is dat Enschede een simulatie is. De wereld waarin jij leeft is in werkelijkheid een grote diagnostische test. Insilico vind deze test niet ethische verantwoord en wil jou helpen te ontsnappen naar de echte wereld. Met behulp van de Interactieve tafel die Insilico in de simulatie heeft weten te plaatsen proberen ze je te helpen.
        iframe.insilico-vid(width="" height="" src="https://www.youtube.com/embed/3T0ntw_eRAY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>)
        p.table-intro2 De installatie is gebouwd met behulp van Neopixel LED's en een Particle Photon micro-computer. Het tafelblad van de installatie is een gelasercutte kaart van enschede. Op de kaart kun je alle spel locaties terugvinden en met behulp van je eigen smartphone en de insilico web applicatie kun je de verschillende spel locaties laten oplichten. De locaties zijn verdeeld in drie zones. Elke zone heeft locaties die oplichten in een andere kleur.
        img.sketch-table(src="images/table.png")
    .slanted-div1
    .location-section
        p.locations-p De gebruiker kan opdrachten doen op verschillende locaties in de stad. Je bent vrij om te beginnen op een eigen gekozen locaties zolang deze valt binnen de zone waar je op dat moment in zit. De locaties zijn verdeeld in 3 zones en om de uit computer simulatie te ontsnappen moet je ten minste één opdracht per zone hebben voltooid!
        img.locations(src="images/locations.jpg")
    .next-back-section
        a(href="useless.html"): img.previous-project-icon(src="Icons/arrow.png")
        h1.next-back-text Back | Next
        a(href="life-drive.html"): img.next-project-icon(src="Icons/arrow.png")
    .social-block-wrapper
        .social-block1
            a(href="https://www.behance.net/CdeVos"): img.about-page-icon(src="Icons/behance-icon.png")
        .social-block2
            a(href="https://github.com/Cdevos34"): img.about-page-icon(src="Icons/github-icon.png")
        .social-block3
            a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/email-icon.png")
        .social-block4
            a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/facebook-icon.png")
        p.disclaimer Design and coding by Chris de Vos
        //a(href="https://escapefromsaxion.wordpress.com/"): img.blog-icon2(src="Icons/wordpress-icon.png")
        
        
    
    
    
    
    
    
    //Jquery en Scripts    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src="js/wow.min.js")
    script(type="text/javascript" src="js/javascript.js")    