html
    head 
        link(rel="stylesheet" type="text/css" href="style/style-insilico.css")
        link(rel="stylesheet" type="text/css" href="css/animate.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            .wrapper
                .main-item.menu
                    span.line.line1
                    span.line.line2
                    span.line.line3
                nav.navigation
                        ul.links
                            a(href="index.html"): li Home
                            a(href="about-me.html"): li About Me
                            a(href="projects.html"): li Projects
                            a(href="skills.html"): li Skills
                nav.navigation-icons
                    ul.all-icons
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/facebook-icon.png")
                        a(href="https://www.behance.net/CdeVos"): img.icon(src="Icons/behance-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/whatsapp-icon.png")
                        a(href="https://github.com/Cdevos34"): img.icon(src="Icons/github-icon.png")
                        a(href="https://www.facebook.com/chris.devos.98"): img.icon(src="Icons/email-icon.png")        
        a(href="index.html"): img.home(src="Icons/face-icon.png")
    .banner.banner-parallax    
        h1.insilico insilico
        p.insilico-intro Project Insilico is een interactieve stadstour door Enschede, ontwikkeld voor Enschede promotions. Met een team van vijf studenten hebben we een interactieve tafel ontwikkeld die te bedienen is met je smartphone via onze website www.insilico.me. De tour brengt je op een uitdagende manier op bijzondere plekken in Enschede en we maken gebruik van augmented reality voor een unieke spelervaring.
    .team
        h1.team-title.wow.fadeIn Meet the insilico team !
        .members
            img.chris.wow.fadeInLeft(src="images/me-round.png")
            img.eliz.wow.fadeInLeft(src="images/eliz-round.png")
            img.camilla.wow.fadeInLeft(src="images/camilla-round.png")
            img.lea.wow.fadeInLeft(src="images/me-round.png")
            img.melanie.wow.fadeInLeft(src="images/me-round.png")
        //h1.name1 Chris  
        //h1.name2 Eliz
        //h1.name3 Camilla
        //h1.name4 Lea   
        //h1.name5 Melanie
    .slanted-div1
    .application
        img.phone.item-parallax(src="images/phone.png")
        .app-text Wij hebben een webapplicatie gebouwd die de gebruiker mee neemt op een spannende reis door Enschede. Met behulp van deze webapplicatie en de camera van je smartphone moet jij ontsnappen uit de computer simulatie die jij kent als Enschede.
    .slanted-div2
    .table-subsection
        p.table-intro Het startpunt van jou avontuur is onze interactieve tafel. De hackergroep Insilico geeft jou via deze installatie die informatie die je nodig hebt om het spel te spelen. Met behulp van de Insilico webapplicatie kun je de spel locaties op de tafel laten oplichten en je avontuur beginnnen.
        img.sketch-table(src="images/table.png")
        iframe.insilico-vid(width="" height="" src="https://www.youtube.com/embed/3T0ntw_eRAY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>)
    .slanted-div1
    .location-section
        p.locations-p De gebruiker kan opdrachten doen op verschillende locaties in de stad. Je bent vrij om te beginnen op een eigen gekozen locaties zolang deze valt binnen de zone waar je op dat moment in zit. De locaties zijn verdeeld in 3 zones en om de uit computer simulatie te ontsnappen moet je ten minste één opdracht per zone hebben voltooid!
        img.locations(src="images/locations.jpg")
        //video.insilico-vid(width='500', height='500', controls='controls')
            source(src='/video/insilico.mp4', type='video/mp4')
            source(src='/video/movie.ogg', type='video/ogg')
    .social-block-wrapper
        .social-block1
            a(href="https://www.behance.net/CdeVos"): img.about-page-icon(src="Icons/behance-icon.png")
        .social-block2
            a(href="https://github.com/Cdevos34"): img.about-page-icon(src="Icons/github-icon.png")
        .social-block3
            a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/email-icon.png")
        .social-block4
            a(href="https://www.facebook.com/chris.devos.98"): img.about-page-icon(src="Icons/facebook-icon.png")
        p.disclaimer Design and coding by Chris de Vos
        //a(href="https://escapefromsaxion.wordpress.com/"): img.blog-icon2(src="Icons/wordpress-icon.png")
        
        
    
    
    
    
    
    
    //Jquery en Scripts    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src="js/wow.min.js")
    script(type="text/javascript" src="js/javascript.js")    